doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= titulo + " | TodoStock S.A."
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      nav
        a(href="/") 📦 TodoStock S.A.
        a(href="/movimientos") Movimientos
        a(href="/api/productos") API Productos
        a(href="/api/movimientos") API Movimientos
    main
      block content
    footer
      p Distribuidora Mayorista TodoStock S.A. &copy; 2026
